<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
        <h3 class="d-inline">Follow Us</h3> 
        <div class="d-inline p-4" style="font-size: 1.5rem;">
            <a href="https://www.youtube.com/" class="p-1" style="text-decoration: none; color: #c2c1c1;;"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/rehan-thomas-88b302174/" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-linkedin"></i></a>
        </div>
        <hr style="height:2px;">
    </div>
    <div class="row m-0 p-0" style="color: #aba6ad;">
        <div class="col-md-4 p-0 p-md-1"><h5 class="mb-0">      Ponkunnam-Kottayam-Kerala,India</h5>
            <h5 class="mb-0">       Terms and Conditions</h5></div>
        <div class="col-md-4"></div>
        <div class="col-8 col-md-4"><h5 style="text-align-last: right;"><i class="fas fa-phone"> </i> <span> 0562127199</span></h5></div>
    </div>
    <div class="container py-1">
        <div class="text-center"><span class="text-muted">&copy;2021 eEasy Money and Bankers, All Rights Reserved</span></div>
    </div>
    <div class="row m-0" style="color: #afa6a7;">
        <div class="col-sm-6 offset-sm-6">
            <span class="d-block" style="text-align-last: right;">Made with Love by&#64;Rehan Thomas</span>
        </div>
    </div>
</footer>